.dflex{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}


.gap{
    gap: 3rem;
    list-style: none;
}


li, Link{
    padding: 1rem;
    text-decoration: none;
}

.logo{padding: 2rem;}


body{
    background-color: aquamarine;
}